html, body {
    height: 100%;
    width: 100%;
}

body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  /* font-family: 'Oxygen', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}


.content {
    box-sizing: border-box;
    border-left: solid rgb(184, 195, 205) 90px;
    width: 100%;
}



.skills {
    position: absolute;
    left: 0;
    width: 90px;
    background-color: none;
    /* background-color: #b2cdc3; */
    /* border-right: solid #00000006 1px; */
    /* border-left: solid rgb(0, 0, 0) 4px; */
    z-index: 2;
}
.tree2 {
    position: relative;
    left: 20%;
    transform: translate(-50%, 0);
    height: 60%;
}

.me {
    display: block;
    background-color: whitesmoke;
    padding-top: 40px;
    padding-bottom: 100px;
}

.contactLinks {
    float: right;
    margin-right: 20px;
    padding: 3px 4px 2px 4px;
    background-color: rgb(214, 214, 221);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.link {
    width: 30px;
    padding-bottom: 0px;
}
.linkedin {
    width: 40px;
    margin-bottom: -5px;
    padding: 0 11px;
    padding-right: 6px;
}
.github {
    width: 30px;
    padding-left: 2px;
}
.resume {
    width: 37px;
    margin-bottom: -5px;
}
.number {
    text-align: right;
    padding-bottom: 3px;
    margin: 0;
}
.email {
    padding: 0;
    margin: 0;
}
.underLink {
    position: relative;
    width: 100%;
}

.desc-box {
    width: 80%;
    padding-top: 40px;
    margin-left: 10%;
}
.promise {
    font-size: 18px;
    font-weight: 800;
}
.proj-desc {
    text-align: center;
}
.proj-links {
    padding-top: 20px;
}
.proj-link {
    padding: 8px 20px;
    margin: 0px 6px;
    /* background-color: rgb(244, 235, 244);
    border: solid rgba(255, 255, 255, 0.136) 1px; */
    border: solid rgb(0, 0, 0) 1px;
    border-radius: 3px;
}
.view {
    padding-bottom: 30px;
}

.infoTitle {
    padding-left: 8px;
}

.tree {
    display: inline;
    height: 90px;
    margin-bottom: -8px;
    padding: 0;
    z-index: 0;
}
.header {
    /* font-family: 'Quicksand', sans-serif; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #050506;
    background-color: rgb(184, 195, 205);
    height: 70px;
    z-index: 3;
    color: black;
}

.header-title {
    position: absolute;
    padding-left: 155px;
    font-size: 20px;
    line-height: 70px;
    text-align: left;
    /* color: #f0f0f0; */
    letter-spacing: 10px;
    z-index: 2;
}
.gcodes {
    float: right;
    /* color: white; */
    color: black;
    font-size: 15px;
    letter-spacing: 5px;
    padding-right: 20px;
    margin-top: 40px;
    bottom: 0;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.projects {
    padding-top: 200px;
    padding-bottom: 20px;
    background-color: rgb(244, 246, 247);
}
.first {
    margin-top: 800px;
}

.banner {
    /* font-family: 'Quicksand', sans-serif; */
    text-align: left;
    position: absolute;
    right: 0%;
    top: 150px;
    width: 43%;
    border-bottom: solid 20px black;
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 2;
}
.banner-left {
    display: inline-block;
    position: absolute;
    bottom: 0;
}
.banner-title {
    font-weight: 600;
   
    display: inline;
    /* width: 100%; */
    margin: 0;
    padding: 0;
    letter-spacing: 20px;
}

.leftProject {
    width: 100%;
    z-index: 5;
    margin-bottom: 150px;
    
}
.rightProject {
    width: 100%;
    z-index: 5;
    margin-bottom: 150px;
}

.r-inner {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    height: auto;
    background-color: white;
    border-radius: 3px;
}
.firstProject {
    margin-top: 100px;
}



.first {
    margin-top: 100px;
}

.skillSlider {
    position: absolute;
    margin-left: 38px;
    margin-top: 15px;
    width: 10px;
    height: 120px;
    border: solid black 3px;
    background-color: #cbdcd5;
}
.skill {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    padding-top: 30px;
    width: 48px;
}
.firstSkill {
    margin-top: 40px;
}
#node {
    width: 75px;
}
.info {
    padding-bottom: 20px;
}
.c-info {
    padding: 0;
    padding-top: 15px;
}
.bold {
    font-weight: 800;
}

.projectImage {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: auto;
    border: solid black 0px;
    opacity: .05;
}

.projectInfo {
    margin-left: 20px;
    height: 320px;
    line-height: 25px;
}

.projectName {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    top: 50%;
    width: 70%;
}

.portrait-container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.portrait {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.who-i-am {
    margin-top: 20px;
    width: 90%;
    line-height: 27px;
}

.about {
    margin-top: 40px;
    width: 90%;
}

.portraitImg {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    height: auto;
    border: solid whitesmoke 5px;
}

.foo {
    position: relative;
    margin-left: 0;
    padding-left: 0;
}


.skillsInfo {
    float: left;
    color: white;
    font-size: 15px;
    letter-spacing: 5px;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 20px;
    bottom: 0;
}

#hidden {
    display: none;
}
.i2 {
    padding-top: 10px;
    display: block;
}
@keyframes fadein {
    from {opacity: 0.01;}
    to {opacity: 1;}
}
@keyframes sway {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(1deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-1deg);}
    100% {transform: rotate(0deg);}
}
.treeSway {
    animation: sway;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.fadeIn {
    animation: fadein;
    animation-duration: 3s;
    opacity: 1;
}

#dark-header {
    background-color: #dce3d5;
}
#dark-title {
    color: rgb(8, 8, 8);
}
#dark-body {
    background-color: black;
    background-color: #14110F;
    background-color: #2F243A;
    background-color: #041B15;
    background-color: #2d2e2f;
    color: #CDE6F5;
    color: #CDE6F5;
    color: #F5FBEF;
}

#dark-skills {
    border: none;
    border-left: solid 90px #dce3d5;
}
#banner-light {
    border-bottom: solid 20px rgb(214, 214, 221);
    border-bottom: solid 20px rgb(255, 255, 255, 0.317);
}
#dark-links {
    background: linear-gradient(180deg, rgba(255,255,255,0.317) 0%, rgba(255,255,255,0.3) 35%, rgba(255,255,255,0.28) 100%);

}

#dark-projs {
    background-color: rgba(144, 153, 159, 0.18);
}
#dark-code {
    color: #dce3d5;
    border-color: white;
}
#light-tree {
    display: inline;
    height: 85px;
    margin-bottom: -11px;
    margin-left: 4px;
}
#react {
    width: 48px;
}
#mongo {
    width: 58px;
}
#js {
    width: 40px;
}
#django{
    width: 44px;
}
.mobile-skills {
    display: none;
}

@media (max-width: 1000px) {
    .header-title {
        padding-left: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .r-inner {
        display: grid;
        grid-template-columns: 1fr;
    }
    .r-inner div:nth-child(2) {
        grid-row: 1;
    }
    .content {
        border: none;
    }
    .banner {
        width: 100%;
    }
    .banner-title {
        font-size: 20px;
        margin-left: 20px;
    }
    .tree {
        height: 70px;
    }

    .skills {
        display: none;
    }

    #dark-skills {
        border: none;
    }
    .me {
        padding-bottom: 0;
    }
    
    .mobile-skills {
        margin-top: 10px;
        padding: 10px 0 20px 0;
        background-color: rgb(128, 125, 125);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
    .mobile-skill {
        position: relative;
        transform: translate(-50%, 0%);
        left: 50%;
        width: 48px;
        margin-top: 10px;
    }
    .portrait-container {
        display: block;
        margin-top: 30px;
    }
    .portrait {
        position: relative;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 50%;
        height: auto;
        padding: 0;
        margin: 0;
    }
    
    .who-i-am {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
        line-height: 27px;
    }
    
    .about {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
    }
}